<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <style>
        table.table {
            width: 100%;
        }
        .table th {
            text-align: left;
        }
        .codeaddress {
            background-color: #eee;
            padding: 4px;
            display: inline;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}

    {% block content %}
    {% endblock %}
<div>
    <ul>
        {% if user.has_kml_download_perm %}
        <li><a target="_blank" href="{% url 'download_kml' %}">Download .kml</a></li>
        {% endif %}
        {% if user.is_staff %}
        <li><a target="_blank" href="{% url 'admin:index' %}">Staff</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Sign Out ({{ user }})</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block extra_body %}
{% endblock %}
</body>
</html>
