{% extends "base.html" %}

{% load humanize %}


{% block extra_head %}
{% endblock %}


{% block content %}

<div class="export-list">

    <table>

    {% for dataset in datasets %}
        <tr>
            <td>{{dataset.name}}</td>
            <td>{{dataset.updated_at}}</td>
            <td>{{dataset.get_status}}</td>
            {%if dataset.get_status == "ready" %}
            <td><a href="{% url 'dataset_download' pk=dataset.pk %}">Download</a></td>
            {%elif dataset.get_status == "stale" %}
            <td><a href="{% url 'dataset_regenerate' pk=dataset.pk %}">Rebuild</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

    <a href="{% url 'dataset_create' %}">Create New Dataset</a>

</div>
{% endblock %}

