{% extends "base.html" %}

{% load humanize %}

{% block content %}
{% if is_authorized %}

<table class="table">
    <tr>
        <th>Portal</th>
        <th>County</th>
        <th>Discovered</th>
    </tr>
    {% for portal in portals %}
    <tr>
        <td><a href="https://www.ingress.com/intel?ll={{ portal.lat }},{{ portal.lng }}&z=17" target="_blank">{{ portal.name }}</a></td>
        <td>{{ portal.county }}</td>
        <td>{{ portal.created_at|naturaltime }}</td>
    </tr>
    {% empty %}
    <tr>
        <td class="empty">You haven't discovered any portals yet.</td>
    </tr>
    {% endfor %}
</table>

<p>
    Discovered By You: <span>{{ total_you_discovered }}</span><br>
    Discovered Total: <span>{{ total_discovered }}</span>
</p>

{% else %}
<p>Unauthorized</p>
{% endif %}
{% endblock %}


{% block extra_body %}
<div>
    Install the IITC plugin: <a href="{% url "download_iitc_plugin" %}">iitc-plugin-portal-discoverer.user.js</a><br>
    Once installed, click on the Discoverer link in the Info window, and use this server url: <p class="codeaddress">{{site}}</p>
</div>
{% endblock %}
