{% extends "base.html" %}

{% load humanize %}

{% block content %}
{% if is_authorized %}

<p>
    Discovered By You: <span>{{ request.user.discovered_count }}</span><br>
    Updated By You: <span>{{ request.user.updated_count }}</span><br>
</p>

{% else %}
<p>Unauthorized</p>
{% endif %}
{% endblock %}


{% block extra_body %}
<div>
    Install the IITC plugin: <a href="{% url "download_iitc_plugin" %}">iitc-plugin-portal-discoverer.user.js</a><br>
    Once installed, click on the Discoverer link in the Info window, and use this server url: <p class="codeaddress">{{site}}</p>
</div>
{% endblock %}
