{% extends "base.html" %}

{% load humanize %}

{% block content %}
{% if is_authorized %}

<p>
    Discovered By You: <span>{{ request.user.discovered_count|intcomma }}</span><br>
    Updated By You: <span>{{ request.user.updated_count|intcomma }}</span><br>
</p>

<p>
    Total Portals: <span>{{ portal_index_count|intcomma }}</span><br>
    {% if latest_kml %}
    KML File: <span><a href="{% url "download_kml" %}">{{ latest_kml.name }}.kml</a> [{{ latest_kml.created_at }}]</span><br>
    {% endif %}
</p>

{% else %}
<p>Unauthorized</p>
{% endif %}
{% endblock %}


{% block extra_body %}
<div>
    Install the IITC plugin: <a href="{% url "download_iitc_plugin" %}">iitc-plugin-portal-discoverer.user.js</a><br>
    Once installed, click on the Discoverer link in the Info window, and use this server url: <p class="codeaddress">{{site}}</p>
</div>
{% endblock %}
